@font-face {
  font-family: 'fjallaone';
  src: url('fonts/fjallaone-regular-webfont.woff2') format('woff2'),
     url('fonts/fjallaone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source sans pro';
  src: url('fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
     url('fonts/sourcesanspro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source sans pro';
  src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
     url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source sans pro';
  src: url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
     url('fonts/sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

//Colors
$gadgets-color: #ffe064;
